{% if template == 'password' or template == 'gift_card' %}

{% comment %} Password/gift card template logo {% endcomment %}
<div class="shoplogo {% if section.settings.use_logo_margin %}with-margin{% endif %}">
  <a href="/" title="{{ shop.name }}">
    {% if section.settings.logo %}
    <span class="logoimg"><img src="{{ section.settings.logo | img_url: '480x' }}" alt="{{ shop.name }}" /></span>
    {% else %}
    <span class="logotext">{{ shop.name }}</span>
    {% endif %}
  </a>
</div>

{% else %}

<div data-section-type="header-section">

  <div class="page-header cf">
    <div class="page-header__inner">
      <a class="nav-toggle" href="#">{% include 'svg-nav' %}</a>

      <div class="shoplogo {% if section.settings.use_logo_margin %}with-margin{% endif %}">
        <a href="/" title="{{ shop.name }}">
          {% if section.settings.logo %}
          <span class="logoimg"><img src="{{ section.settings.logo | img_url: '480x' }}" alt="{{ shop.name }}" /></span>
          {% else %}
          <span class="logotext">{{ shop.name }}</span>
          {% endif %}
        </a>
      </div>

      {% if section.settings.show_store_message %}
      <span class="store-message store-message--upper">
        {% if section.settings.store_message_url != blank %}<a href="{{ section.settings.store_message_url }}">{% endif %}
        {{ section.settings.store_message | escape }}
        {% if section.settings.store_message_url != blank %}</a>{% endif %}
      </span>
      {% endif %}

      {% if shop.customer_accounts_enabled %}
      <span class="account-links">
        {% if customer  %}
        {{ 'layout.customer.account' | t | link_to: '/account' }} /
        {{ 'layout.customer.log_out' | t | customer_logout_link }}
        {% else %}
        {{ 'layout.customer.log_in' | t | customer_login_link }} /
        {{ 'layout.customer.register' | t | customer_register_link }}
        {% endif %}
      </span>
      {% endif %}

      <span class="search-and-cart">
        <a class="search desktop-only" href="/search">{% include 'svg-search' %}</a>

        <span class="cartsummary">
          <span class="cartsummary__inner">
            <a href="/{% if template != 'cart' or settings.cart_terms_show %}cart{% else %}checkout{% endif %}">
              <span class="title">{{ 'layout.sidebar.cart' | t }}</span>
              <span class="numitems">({{ cart.item_count }})</span>
            </a>

            <span class="desktop-only">
              {% include 'currencies-switcher' %}
            </span>
          </span>
        </span>
      </span>
    </div>

    {% if section.settings.show_store_message %}
    <span class="store-message store-message--lower">
      {% if section.settings.store_message_url != blank %}<a href="{{ section.settings.store_message_url }}">{% endif %}
      {{ section.settings.store_message | escape }}
      {% if section.settings.store_message_url != blank %}</a>{% endif %}
    </span>
    {% endif %}
  </div>

  <div id="navbar" class="nav-style-{{ section.settings.sidebar_submenu_style }}" data-section-type="sidebar-section">
    <div id="navpanel">
      <div class="shoplogo {% if section.settings.use_logo_margin %}with-margin{% endif %}">
        <a href="/" title="{{ shop.name }}">
          {% if section.settings.logo %}
          <span class="logoimg"><img src="{{ section.settings.logo | img_url: '480x' }}" alt="{{ shop.name }}" /></span>
          {% else %}
          <span class="logotext">{{ shop.name }}</span>
          {% endif %}
        </a>
      </div>

      <div class="mobile-only search-box">
        <form name="search" action="/search">
          <input type="hidden" name="type" value="{{ settings.search_type }}" />
          <input type="text" name="q" placeholder="{{ 'general.search.sidebar_placeholder' | t }}" value="" />
          <button type="submit" class="plain">{% include 'svg-search' %}</button>
        </form>
      </div>

      <div class="mainnav">
        <div class="tier1" role="navigation" aria-label="{{ 'general.navigation.main_navigation_aria_label' | t | escape }}">
          <a class="back" href="#" aria-controls="current-submenu" aria-label="{{ 'general.navigation.return' | t | escape }}" tabindex="-1">{% include 'svg-chevron-left' %}</a>
          <ul>
            {% for link in linklists[section.settings.menu_linklist].links %}
            <li class="{% if link.active or link.child_active %}active{% endif %}{% if section.settings.sidebar_submenu_style == 'in' %}{% if link.child_active %} expanded{% endif %}{% endif %}">
              <a class="tier1title" href="{{ link.url }}" {% if link.links != blank %}aria-haspopup="true"{% endif %}>{{ link.title }}</a>

              {% if link.links != blank %}
              <div class="tier2">
                <div><div class="tier-title">{{ link.title }}</div></div>
                <ul>
                  {% for child_link in link.links %}
                  <li class="{% if child_link.active or child_link.child_active %}active{% endif %}{% if child_link.child_active and section.settings.sidebar_submenu_style == 'in' %} expanded{% endif %}">
                    <a href="{{ child_link.url }}" {% if child_link.links != blank %}aria-haspopup="true"{% endif %} {% if child_link.child_active and section.settings.sidebar_submenu_style == 'in' %} aria-expanded="true"{% endif %}>{{ child_link.title }}</a>

                    {% if child_link.links != blank %}
                    <ul class="tier3">
                      {% for child_child_link in child_link.links %}
                      <li{% if child_child_link.active %} class="active"{% endif %}>
                        {{ child_child_link.title | link_to: child_child_link.url }}
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </li>
            {% endfor %}
          </ul>

          {% if shop.customer_accounts_enabled %}
          <div class="account-links">
            {% if customer  %}
            {{ 'layout.customer.account' | t | link_to: '/account' }} /
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
            {% else %}
            {{ 'layout.customer.log_in' | t | customer_login_link }} /
            {{ 'layout.customer.register' | t | customer_register_link }}
            {% endif %}
          </div>
          {% endif %}

          {% if settings.show_multiple_currencies %}
          <div class="mobile-only currency-switcher">
            {% include 'currencies-switcher' %}
          </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>

</div>
{% endif %}


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "240px wide (recommended)"
      },
      {
        "type": "checkbox",
        "id": "use_logo_margin",
        "label": "Add margin to logo",
        "default": false
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "link_list",
        "id": "menu_linklist",
        "label": "Menu",
		"default": "main-menu"
      },
      {
        "type": "select",
        "id": "sidebar_submenu_style",
        "label": "Child navigation style",
        "options": [
          {
            "value": "in",
            "label": "Inside"
          },
          {
            "value": "out",
            "label": "Fly-out"
          }
        ],
        "default": "in"
      },
      {
        "type": "header",
        "content": "Announcement"
      },
      {
        "type": "checkbox",
        "id": "show_store_message",
        "label": "Show",
        "default": false
      },
      {
        "type": "text",
        "id": "store_message",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "store_message_url",
        "label": "Link"
      }
    ]
  }
{% endschema %}
