<div class="signup-form padded-block background-tint form">
  <div class="signup-form-container">
    <h6 class="h1 title">{{ section.settings.title | escape }}</h6>
    <div class="message"><p>{{ section.settings.text | escape }}</p></div>
    {% form 'customer' %}
    {% if form.posted_successfully? %}
    <p class="msg">{{ 'layout.signup.post_success' | t }}</p>
    {% else %}
    {% if form.errors %}
    {% for field in form.errors %}
    <p class="msg error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
    {% endfor %}
    {% endif %}
    <div class="inline-input-button-row">
      <div class="inline-input-button-row__input">
        <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
        <input type="email" class="text required" value="" name="contact[email]" placeholder="{{ 'layout.signup.placeholder' | t }}" />
      </div>
      <div class="inline-input-button-row__button">
        <button type="submit">{{ 'layout.signup.submit' | t }}</button>
      </div>
    </div>
    {% endif %}
    {% endform %}
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Newsletter"
      },
	    {
        "type": "text",
        "id": "text",
        "label": "Subheading",
        "default": "Sign up to our newsletter and we’ll keep you up to date with the latest arrivals"
      }
	  ],
	  "presets": [
      {
        "name": "Newsletter",
        "category": "Promotional",
        "settings": {}
      }
	  ]
  }
{% endschema %}
